<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1 style="text-align:center">{{ title }}</h1>
        <h2 style="text-align:center">Instructions</h2>
        <p style="text-align:center">This website is designed to generate a random list of names.  </p>
        <p style="text-align:center">{{ full_name }}<p>
        <p style="text-align:center"><button name="action" Value="create_new_name">Create Name</button></p>
        <p style="text-align:center"></p>><button name="action" Value="update">Update First Name</button></p>
        <p style="text-align:center"></p>><button name="action" Value="update">Update Last Name</button></p>
        <p style="text-align:center"></p>><button name="action" Value="update">Delete Name</button></p>
    </body>
</html>